*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Whitney', sans-serif;
}

/* Struttura */
header{
    background-color: #3161e0;
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.container_header{
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}
.container_img_text{
    width: 80%;
    margin: 0 auto;
    padding: 200px 0;
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.col_logo, .col_link, .col_login{
    height: 50px;
}
.col_logo, .col_login{
    width: 25%;
}
.col_link{
    width: 50%;
}
.image-container{
    background-image: url("../img/jumbo.png") ;
    background-size: cover;
    padding-bottom: 150px;
}
.download_container{
    width: 800px;
    margin: 0 auto;
}
.col_download{
    width: 100%;
    display: flex;
    justify-content: center;
}
.col_img{
    width: 60%;
}
.col_text{
    width: 25%;
}
.white-container{
    background-color: white;
}
.gray-container{
    background-color: lightgray;
}
.download_container_2{
    width: 1000px;
    margin: 0 auto;
}
.col_download_2{
    width: 100%;
    display: flex;
    justify-content: center;
}
footer{
    background-color: black;
    padding-bottom: 20px;
}
.container_footer_1{
    width: 1000px;
    margin: 0 auto;
    padding: 10px 0 30px;
    border-bottom: 1px solid white;
}
.col_info, .col_prod, .col_comp, .col_risorse, .col_norme{
    height: 200px;
    border: dashed black 1px;
    background-color: aquamarine;
}
.col_prod, .col_comp, .col_risorse, .col_norme{
    width: calc(70% / 4);
}
.col_info{
    width: 30%;
    background-color: salmon;
}
.container_footer_2{
    height: 70px;
    width: 1000px;
    margin: 30px auto;
    padding-top: 10px;
    background-color: bisque;
    display: flex;
    justify-content: space-between ;
}
.col_logo_bottom, .col_registrati{
    height: 20px;
    border: dashed black 1px;
    background-color: burlywood;
}

/* STILI */
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.login-content{
    display: flex;
    justify-content: flex-end;
}
.Login{
    background-color: white;
    color: black;
    border-radius: 30px;
    border-style: none;
    padding: 5px 15px;
    text-align: center;
    margin-top: 10px;
}
.link-content{
    color: white;
    margin-top: 10px;
    
}
.title_download, .paragraph_download{
    color: white;
    margin: 0 auto;
}
.title_download{
    font-size: 30px;
    margin: 100px 0 40px;
}
.paragraph_download{
    margin: 0 50px;
    line-height: 1.5;
    font-size: 20px;
    text-align: center;
}
.S_mac, .A_brow{
    padding: 10px 20px; 
    border-radius: 20px;
    border-style: none;
    margin: 0 20px; 
}
.A_brow{
    background-color: black;
    color: white;
}
.S_mac{
    color: black;
    background-color: white;
    text-align: end;
}
.download_button{
    padding-top: 20px;
}
.title_img{
    font-size: 30px;
}
.paragraph_img{
    font-size: 20px;
    margin-top: 20px;
    line-height: 1.5;
}
.img_content img{
    width: 80%;
}
.title_download_2{
    font-size: 20px;
    padding-top: 50px;
}
.paragraph_download_2{
    line-height: 1.5;
    font-size: 15px;
    text-align: center;
    margin: 20px 100px;
}
.scarica_download_2{
    background-image: url("../img/stars.svg");
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10px 60px 40px;
}
.text_scarica_download_2{
    font-size: 25px;
    margin-top: 30px;
}
.blue.S_mac{
    background-color: #8ea1e1;
    color: white;
} 
.download_tasto_2{
    margin-bottom:  60px;
}
